APP_ENV=production
APP_URL=http://localhost
APP_NAME="EFD REINF"
APP_SECRET=sua_chave_secreta_aqui_troque_em_producao

DB_HOST=db
DB_PORT=3306
DB_NAME=efd_reinf
DB_USER=reinf_user
DB_PASS=reinf_pass123

UPLOAD_MAX_SIZE=50M
SESSION_LIFETIME=3600
