/vendor/
/node_modules/
/.env
/public/hot
/public/storage
/public/uploads/
/storage/*.key
/storage/pail
/storage/uploads/
/storage/xml/
/storage/certs/*
!/storage/certs/.gitkeep
!/storage/uploads/.gitkeep
!/storage/xml/.gitkeep
!/storage/xsd/.gitkeep
/storage/rate_limit/*
!/storage/rate_limit/.gitkeep
/storage/framework/cache/data
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*.php
*.pfx
*.p12
*.log
.DS_Store
/_laravel_scaffold/
/_legacy_src/
/_legacy_config/
/_legacy_vendor/
/_legacy_composer.json
/_legacy_composer.lock
/_legacy_public_index.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
