/vendor/
/.env
/public/uploads/
/public/storage/
/storage/uploads/
/storage/xml/
/storage/certs/*
!/storage/certs/.gitkeep
!/storage/uploads/.gitkeep
!/storage/xml/.gitkeep
!/storage/xsd/.gitkeep
*.pfx
*.p12
*.log
.DS_Store
